/* a class called "nav-bar" which is green, and has a height of 100px, centered, and has a gradiant effect */
.nav-bar {
    background-color: #1da41d;
    display: flex;
    min-width: 200px;
    max-width: 350px;
    align-content: center;
    align-items: center;
    height: 98vh;
}

.green {
    background-color: #1da41d;
}
/* create a class called "nav-bar-item" which is pastel green, and has a height of 70px, and is centered and has a 10px gap with the items in its left*/

.nav-bar-item {
    width: 80%;
    background-color: #4ac34a;
    height: 50px;
    margin-top: 10px;
    transition: 0.15s;
    list-style-type: none;
    align-items: center;
    align-content: center;
    /* text */
    font-size: 15px;
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    border: 2px solid rgb(0, 128, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*make nav bar item get bigger only on x axis and get lighter when you hover on it in 0.15 seconds*/
.nav-bar-item:hover {
    animation: nav-bar-animation 0.3s;
    background-color: #62d162;
}
@keyframes nav-bar-animation {
    0%   { transform: scale(1,1)    translateY(0); }
    30%  { transform: scale(1.1,0.9) translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.kuloropilastik-foto {
    width: 70%;
    margin-top: 20px;
}